

<div class="modal-header">
    <h5 class="modal-title">Reservation Details</h5>
    <button type="button" class="btn-close" (click)="bsModalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p>Name: {{ data.name }}</p>
    <p>Date: {{ data.date }}</p>
    <p>Time: {{ data.time }}</p>
    <p>Number of Guests: {{ data.numberOfGuests }}</p>
  </div>
  <div class="alert alert-success" role="alert">
    Reservation successful!
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Close</button>
  </div>
  