<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">Register</h2>
          </div>
  
          <div class="card-body">
            <div *ngIf="registerError" class="alert alert-danger" role="alert">
              {{ registerError }} 
            </div>
            <form [formGroup]="applyForm" (ngSubmit)="register()">
              <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="username" id="username" name="username" class="form-control" formControlName="username" required />
                <div *ngIf="applyForm.get('username')?.hasError('required') && applyForm.get('username')?.touched" class="text-danger">
                  Username is required.
              </div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="password" class="form-control" formControlName="password" required />
                <div *ngIf="applyForm.get('password')?.hasError('required') && applyForm.get('password')?.touched" class="text-danger">
                  Password is required.
                </div>
                <div *ngIf="applyForm.get('password')?.hasError('pattern') && applyForm.get('password')?.touched" class="text-danger">
                  Password must contain at least one lowercase letter, one uppercase letter, one digit, and be at least 6 characters long.
                </div>
              </div>
              <div class="d-flex justify-content-around">
                <button type="submit" class="btn btn-primary ml-2">Create new account</button>
                <a routerLink="/login" type="submit" class="btn btn-secondary">Back</a>
              </div>
  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  