<nav class="navbar navbar-expand-sm navbar-light navbar-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Reservify</a>
    <button class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li *ngIf="authService.isAuthenticatedValue" class="nav-item">
          <a href="/home" class="nav-link cursor-pointer" routerLink="/home">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a href="/reservation-form" class="nav-link cursor-pointer" routerLink="/reservation-form">Book Now</a> 
        </li> -->
        <!-- <li class="nav-item">
          <a href="/reservation-list" class="nav-link cursor-pointer" routerLink="/reservation-list">Reservations</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/home">About</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" routerLink="/home">Contact</a>
        </li> -->
        <li *ngIf="authService.isAuthenticatedValue" class="nav-item">
          <a href="#" class="nav-link cursor-pointer" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
